.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
  }
  
  .case-study-image {
    width: 90%;
    height: 80%; /* Adjusted to make room for the form */
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form-container {
    width: 90%;
    max-width: 400px;
    height: 50%; /* Adjust height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-family:"Just Me Again Down Here", cursive ;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px; /* Adjusted for better readability */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-container button {
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-size: 18px;
    margin-right: 10px;
    letter-spacing: 6px;
    color: #000;
    border: 3px solid;
    border-radius: 90px;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-container button:hover {
    background-color: #f3f4f6;
  }